<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form th:action="@{/listings/create}" th:method="POST" th:object="${listing}">
    <label for="title">title</label>
    <input id="title" type="text" th:field="*{title}" placeholder="Enter listing title here">

    <label for="description">Description</label>
    <textarea id="description" th:field="*{description}" placeholder="Enter listing description here">
        </textarea>
    <button type="submit">Create listing</button>
</form>

</body>
</html>